application:
  name: nav-persondata-api
server:
  port: 8080

spring:
  http:
    codecs:
      max-in-memory-size: 5MB
  data:
    redis:
      host: ${VALKEY_HOST_NAV_PERSONDATA_API}
      password: ${VALKEY_PASSWORD_NAV_PERSONDATA_API}
      username: ${VALKEY_USERNAME_NAV_PERSONDATA_API}
      port: ${VALKEY_PORT_NAV_PERSONDATA_API}
      ssl:
        enabled: true

cache:
  default-expiration: 1h
  maximum-size: 1000
  caches:
    pdl-person:
      expiration: 1h
      maximum-size: 1000
    aareg-arbeidsforhold:
      expiration: 1h
      maximum-size: 1000
    ereg-organisasjon:
      expiration: 1h
      maximum-size: 2000
    inntekt-historikk:
      expiration: 1h
      maximum-size: 1000
    utbetaling-bruker:
      expiration: 1h
      maximum-size: 1000
    kodeverk-landkoder:
      expiration: 1h
      maximum-size: 100
    kodeverk-postnummer:
      expiration: 1d
      maximum-size: 1000
management:
  endpoints:
    web:
      exposure:
        include: health, metrics, info, prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http.client.requests: true
  health:
    redis:
      enabled: false

  tags:
    application: nav-persondata-api
    env: ${NAIS_CLUSTER_NAME:local}
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
no.nav.security.jwt:
  issuer:
    azuread:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
